@import "tailwindcss";

:root {
	--ctp-base: #1e1e2e;
	--ctp-crust: #11111b;
	--ctp-mantle: #181825;
	--ctp-surface0: #313244;
	--ctp-surface1: #45475a;
	--ctp-overlay0: #6c7086;
	--ctp-overlay1: #7f849c;
	--ctp-overlay2: #9399b2;
	--ctp-text: #cdd6f4;
	--ctp-green: #a6e3a1;
	--ctp-mauve: #cba6f7;
	--ctp-mauve-dim: color-mix(in srgb, var(--ctp-mauve) 85%, black);
	--ctp-peach: #fab387;
	--ctp-red: #f38ba8;
	--ctp-red-dim: color-mix(in srgb, var(--ctp-red) 85%, black);
}

body {
	background: var(--ctp-base);
	color: var(--ctp-text);
}

* {
	scrollbar-color: var(--ctp-surface1) var(--ctp-crust);
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: var(--ctp-crust);
}
::-webkit-scrollbar-thumb {
	background: var(--ctp-surface1);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--ctp-overlay0);
}
